- name: "Get the name of the service instance"
  shell: oc get serviceinstance --namespace={{ namespace }} -o jsonpath='{.items[?(@.spec.externalID=="{{ _apb_service_instance_id }}")].metadata.name}'
  register: service_instance_name

- name: "Label the service instance with the service name"
  shell: oc label serviceinstance '{{ service_instance_name.stdout }}' serviceName=fh-sync-server --namespace={{ namespace }}

- name: "Create fh-sync-server deploy yaml file"
  template:
    src: deploy.yml.j2
    dest: /tmp/deploy.yaml

- name: "Create fh-sync-server resources"
  shell: "oc new-app -f /tmp/deploy.yaml -n {{ namespace }}"
  
- name: "Retrieve route to fh-sync-server"
  shell: "oc get routes fh-sync-server -n {{ namespace }} | grep -v NAME | awk '{print $2}'"
  register: fhsync_route

- name: "Create fh-sync-server secret yaml file"
  template:
    src: secret.yml.j2
    dest: /tmp/secret.yaml

- name: "Create FH Sync-server secret"
  shell: "oc create -f /tmp/secret.yaml -n {{ namespace }}"
